body{
    background-color: hsl(220, 15%, 8%);

    text-align: center;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
div
{
    display: inline-block;
    padding-left: 30px ;
    padding-right: 30px ;

    
    
}
div img 
{
    width:  200px;
    transition: box-shadow 0.3 ease;
    border-radius: 10px;
    
}
div .facebook2:hover
{
    box-shadow: 0 0 20px 5px hsl(215, 100%, 57%);
}
div .tdmlogo:hover
{
    box-shadow: 0 0 20px 5px hsl(210, 6%, 81%);
}
div .insta:hover
{
    box-shadow: 0 0 20px 5px hsl(358, 99%, 50%);
}
div .whatsapp:hover
{
    box-shadow: 0 0 20px 5px hsl(142, 70%, 49%);
}
div .tiktok2:hover
{
    box-shadow: 0 0 20px 5px hsl(340, 100%, 50%);
}
.tiktok
{
    color: hsl(340, 100%, 50%);
}
.facebook
{
    color: hsl(215, 100%, 57%);
}
.tdmlogo
{
    width: 400px;

}
.whatsapp1
{
    color: hsl(142, 70%, 49%);
}
.instagram
{
    color: hsl(358, 99%, 50%);
}

.tdmlogo2
{
    color: hsl(0, 0%, 100%);
}

div h2
{
    text-align: center;
    
}

a
{
    text-decoration: none;

}



@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
  }
}


